p{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: aqua;
}

.secao{
    background-color: rgb(193, 241, 2);
}

.importante{
    color: red;
}

.nome{

    border-color: rgb(4, 4, 166);
}


