p {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: aqua;
}

.secao {
    background-color: rgb(193, 241, 2);
}

.importante {
    color: red;
}

.nome {

    border-color: rgb(4, 4, 166);
}

button:hover {
    background-color: black;
    color: white;
}

.container > div:first-of-type > p {
    color: rgb(4, 4, 196);
}